@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 20%, #0f0b19 100%);
  pointer-events: none;
}
